@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@300&family=Roboto:wght@300;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.container{
    margin-top: 30vh;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
h1, #rgb ,#btn{
    padding: 5px;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 5px solid black;
}
h1{
    font-size: 3rem;
    margin: 0 50px;
}
#btn , #rgb{
    font-size: 2rem;
}
#btn{
    margin: 50px 10px;
    cursor: pointer;
}