ul{
    list-style-type: none;
}
.marioclub{
    background-color: red;
    color: white;
    text-align: center;
}

.banner{
    max-width: 100%;
}
.images{
    display: flex;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
main article h2{
    color: red;
}
