*{
    margin: 0;
    top: 0;
}
body, html{
    height: 100%;
    background-color: #061A40;
}
body{
    background: 
        url(media/MB\ Rings\ Top.png) left top no-repeat,
        url(media/MB\ Rings\ Left.png) left bottom no-repeat, 
        url(media/MB\ Rings\ Right.png) right top no-repeat; 
        background-size: 40vw, 30vw, 30vh;
}
h1 , p{
    color: white;
}
.container-fluid{
    height: 95vh;
}
#content-row{
    height: 100%;
}

